<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAN6z0PrlqJ_scXwULrZYiY8IvVOx4FB0E</string>
	<key>GCM_SENDER_ID</key>
	<string>1057344702901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseWithFlavors</string>
	<key>PROJECT_ID</key>
	<string>cj-infotach</string>
	<key>STORAGE_BUCKET</key>
	<string>cj-infotach.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057344702901:ios:172cbd6f39c27b4c76b1fc</string>
</dict>
</plist>